body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    45deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(238, 57%, 60%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(238, 57%, 60%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(238, 57%, 60%, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
.App {
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #343a40;
}
.navbar {
  background: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-transform: capitalize;
}
.navbar h1 {
  margin: 10px 0;
}
.book-list {
  margin: 20px;
  color: #111111;
}
.book-list ul {
  list-style-type: none;
  padding: 0;
}
.book-list li {
  background: #ffffff;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
}
.book-list li:hover {
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.8;
}
.book-list .title {
  font-weight: 700;
  font-size: 1.2rem;
}
.book-list .author {
  font-weight: 500;
  font-size: 0.9rem;
}
.empty {
  text-align: center;
  margin: 20px;
  color: #ffffff;
}
form {
  padding: 20px;
}
input[type='text'] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0;
  border: 0;
}
input[type='submit'] {
  margin: 10px auto;
  background: #000;
  color: #ffffff;
  border: 0;
  padding: 6px 20px;
  display: block;
  width: 100%;
}
